<!DOCTYPE mapper  
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quark.wreport.dao.UserMapper">

    <sql id="queryUserColumns">
		ID AS "id",
		USER_NAME AS "userName",
		PASSWD AS "passwd",
		ROLES AS "roles",
		LAST_LOGIN_TIME AS "lastLoginTime"
	</sql>

    
	<select id="selectByUserName" resultType="com.quark.wreport.entity.User">
		SELECT
		<include refid="queryUserColumns" />
		FROM SYS_USER
		WHERE USER_NAME = #{userName}
	</select>
	
	<!-- 暂定角色只有一个 -->
	<select id="selectByUserNameAndRole" resultType="com.quark.wreport.entity.User">
		SELECT
		<include refid="queryUserColumns" />
		FROM SYS_USER
		WHERE 
			USER_NAME = #{userName}
			AND
			ROLES = #{role}
	</select>

</mapper>